<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='bootstrap-4.5.0-dist/css/bootstrap.min.css') }}" />
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-fixed-top" style="background:#FFFAF0;">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=" {{ url_for('home') }}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('contacts') }}">Contacts</a>
                </li>
            </ul>
            <ul class="navbar-right">
                {% if user.is_authenticated %}
                {% if user.username == "admin" %}
                <a href=" {{ url_for('post.add_post') }}" class="btn btn-outline-success btn-sm">Add Post</a>
                {% endif%}
                <a href=" {{ url_for('auth.profile') }}" class="btn btn-outline-primary btn-sm">Profile</a>
                <a href=" {{ url_for('auth.logout') }}" class="btn btn-outline-dark btn-sm">Logout</a>
                {% else %}
                <a href=" {{ url_for('auth.login') }}" class="btn btn-outline-primary btn-sm">Login</a>
                <a href=" {{ url_for('auth.register') }}" class="btn btn-outline-success btn-sm">Register</a>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class=" container">
        {% block body %}{% endblock %}
    </div>

</body>

</html>