{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<div class="container">
    {% if posts|length < 1 %}
    <h1 style="text-align: center">There are no posts yet</h1>
    {% else %}
    <h1 style="text-align: center">Posts</h1>
    {% for post in posts%}
    <div>
        <h4 style="text-align: left">{{ post.title }}</h4>
        <p class="small text-muted"><a href="/post/{{ post.id }}">Created:
                {{ post.date_created.strftime("%H:%M %d-%m-%Y") }}</a></p>
        <p>{{ post.text }}</p>
        <hr />
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}